#container-listEvents {
    box-shadow: 8px 8px 8px -13px #000000, -8px -8px 8px -13px #000000;

}

#container-tableListEvents {
    max-height: 40vh;
    min-height: 40vh;
    overflow-y: scroll;

}

.thead-dark tr>th {
   color : #4ba5e0 ;
}
