<div id="container-events" class="container-fluid">
      <div class="d-flex justify-content-around">
          <div class="col">
              <app-list-events class="col"></app-list-events>
          </div>
          <div class="col">
              <app-list-devices class="col" (activeDevice)="loadActiveDevice($event)"></app-list-devices>
              <app-detail-device-events class="col" *ngIf="isActiveDevice()" [activeDevice]="activeDevice"></app-detail-device-events>
          </div>
      </div>

</div>
