<div id="sidebar-wrapper" class="col">
    <ul class="sidebar-nav">
        <li>
            <a id="logo" class=""><img alt="home icon" src="assets/images/logo.png"></a>
        </li>
        <li>
            <a id="home" class="nav-link" routerLinkActive="active" routerLink="home" href="#"><img alt="home icon" src="assets/images/home.png"></a>
        </li>
        <li>
            <a id="users" class="nav-link" routerLinkActive="active" routerLink="users" href="#"><img alt="user icon" src="assets/images/user.png"></a>
        </li>
        <li>
            <a id="devices" class="nav-link" routerLinkActive="active" routerLink="devices" href="#"><img alt="device icon" src="assets/images/device.png"></a>
        </li>
        <li>
            <a id="cameras" class="nav-link" routerLinkActive="active" routerLink="cameras" href="#"><img alt="camera icon" src="assets/images/camera.png"></a>
        </li>
        <li>
            <a id="events" class="nav-link" routerLinkActive="active" routerLink="events" href="#"><img alt="events icon" src="assets/images/event.png"></a>
        </li>
        <li>
            <a id="logout" class="nav-link" (click)="logout()"> <img alt="logout icon" src="assets/images/logout.png"></a>
        </li>
    </ul>
</div>
