<div id="container-listEvents" class="container-list container-fluid">
    <h2> Lasts events </h2>
    <div id="container-tableListEvents" [ngClass]="isHome() ? 'half_height' : 'full_height'">
        <table class="table table-bordered">
              <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="col-2">Date : Hour</th>
                    <th scope="col" class="col-1">Title</th>
                    <th scope="col" class="col-7">Description</th>
                    <th scope="col" class="col-2">Device Id</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let event of events">
                      <td> {{event.date}} </td>
                      <td> {{event.title}} </td>
                      <td> {{event.data}} </td>
                      <td> {{event.device_id}} </td>
                  </tr>
              </tbody>
          </table>
      </div>
</div>
