<div id="container-adminHome" class="container-fluid">
    <div>
        <app-list-corp class="col-12" (activeCorp)="loadActiveCorp($event, content)" (createCorp)="loadCreateCorp($event,content)" (editCorp) = "loadEditCorp($event, content)"></app-list-corp>
        <ng-template #content let-c="close" let-d="dismiss">
            <app-add-user *ngIf="addUserActive" [activeCorp]="activeCorp"></app-add-user>
            <app-form-corp *ngIf="createCorpActive" [createCorp]="createCorp"></app-form-corp>
            <app-edit-corp *ngIf="editCorpActive" [activeCorp]="activeCorp"></app-edit-corp>
        </ng-template>
    </div>
</div>
