<div id="container-users" class="container-fluid">
    <div class="d-flex justify-content-around">
        <div class="col">
            <app-list-users (activeUser)="loadActiveUser($event)" [lastSelected]="lastSelected" ></app-list-users>
            <app-list-groups (activeGroup)="loadActiveGroup($event)" [lastSelected]="lastSelected"></app-list-groups>
        </div>
        <div id="content-detail" class="col">
            <app-detail-user class="col" *ngIf="isActiveUser()" [activeUser]="activeUser"></app-detail-user>
            <app-detail-group class="col" *ngIf="isActiveGroup()" [activeGroup]="activeGroup"></app-detail-group>
        </div>
    </div>

</div>
