#container-listCorps {
  box-shadow: 8px 8px 8px -13px #000000, -8px -8px 8px -13px #000000;
  padding-bottom : 20px;
  background-color : #FFFFFF ;
}

#container-tableListCorps {
    text-align: center;
}

.full_height {
    height : 80vh;
    overflow-y: auto;
}

.half_height {
    height : 40vh;
    overflow-y: auto;
}

.thead-dark tr>th {
   color : #4ba5e0;
}

#notFounded {
    text-align: center;
}

.active-tr {
  background-color: lightgray
}

.action_btn {
    cursor : pointer;
}
