<div id="container-login container-fluid">
    <div id="form-container" class="d-flex flex-column">
        <div class="title-container">
            <h3> Se connecter </h3>
        </div>
        <form id="login-form" class="form-signin" [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column col">
                    <label for="login" class="sr-only">Login</label><br>
                    <input type="text" id="inputLogin" formControlName="login" class="form-control col-5" placeholder="Login" required>

                    <span class="false" *ngIf="!login.errors"></span>
                    <span class="true" *ngIf="login.errors"></span>
                    <div *ngIf="login.errors" class="alert" id="a">
                          Le login doit faire plus de 3 caractères et moins de 16 caractères
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="d-flex flex-column col">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <div *ngIf="password.errors" class="alert" id="a">
                          Le mot de passe doit faire plus de caractères et moins de 16 caractères
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="col">
                    <button type="submit" id="submit-login" class="btn btn-lg btn-primary btn-block">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>
