<div id="container-listDevices" class="container-list container-fluid">
    <h2> List of devices </h2>
    <div id="container-tableListDevices" [ngClass]="getStyle()">
        <table class="table table-bordered">
              <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="col-1"> # </th>
                    <th scope="col" class="col-4"> Name </th>
                    <th scope="col" class="col-5"> Ref. </th>
                    <th scope="col" class="col-3"> Type </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let device of devices" (click)="selectActiveDevice(device)" [ngClass]="isSelected(device.id) ? 'active-tr' : ''">
                      <td class="col-1"> {{device.id}} </td>
                      <td class="col-4"> {{device.name}} </td>
                      <td class="col-5"> {{device.ref}} </td>
                      <td class="col-3"> {{device.deviceType.name}} </td>
                  </tr>
              </tbody>
          </table>
          <div id="notFounded" *ngIf="!devicesExist()">
              <p>No devices registered...</p>
          </div>
      </div>
</div>
