<div id="container-form-corp" class="container-fluid">
    <div id="form-container" class="d-flex flex-column">
        <div class="title-container">
            <h3> Create Corporation </h3>
        </div>
        <form id="form-corp" class="form-signin" [formGroup]="corpForm" (ngSubmit)="submit()">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column col">
                    <label for="inputName" class="sr-only">Name</label><br>
                    <input type="text" id="inputName" formControlName="name" class="form-control col-5" placeholder="Name" required>

                    <!-- <span class="false" *ngIf="!login.errors"></span>
                    <span class="true" *ngIf="login.errors"></span> -->
                    <!-- <div *ngIf="login.errors" class="alert" id="a">
                          Le login doit faire plus de 3 caractères et moins de 16 caractères
                    </div> -->
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="d-flex flex-column col">
                    <label for="inputDbUrl" class="sr-only">Database URL</label>
                    <input type="text" formControlName="db_url" id="inputDbUrl" class="form-control col-5" placeholder="Database Url" required>
                    <!-- <div *ngIf="password.errors" class="alert" id="a">
                          Le mot de passe doit faire plus de caractères et moins de 16 caractères
                    </div> -->
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="d-flex flex-column col">
                    <label for="inputDbName" class="sr-only">Database Name</label>
                    <input type="text" formControlName="db_name" id="inputDbName" class="form-control col-5" placeholder="Database Name" required>
                    <!-- <div *ngIf="password.errors" class="alert" id="a">
                          Le mot de passe doit faire plus de caractères et moins de 16 caractères
                    </div> -->
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="d-flex flex-column col">
                    <label for="inputDbLogin" class="sr-only">Database Login</label>
                    <input type="text" formControlName="db_login" id="inputDbLogin" class="form-control col-5" placeholder="Database Login" required>
                    <!-- <div *ngIf="password.errors" class="alert" id="a">
                          Le mot de passe doit faire plus de caractères et moins de 16 caractères
                    </div> -->
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="d-flex flex-column col">
                    <label for="inputDbPwd" class="sr-only">Database Password</label>
                    <input type="password" formControlName="db_pwd" id="inputDbPwd" class="form-control col-5" placeholder="Database Password" required>
                    <!-- <div *ngIf="password.errors" class="alert" id="a">
                          Le mot de passe doit faire plus de caractères et moins de 16 caractères
                    </div> -->
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="col">
                    <button type="submit" id="submit-login" class="btn btn-lg btn-primary btn-block col-5">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
